@import "./normalize.css";

@font-face {
  font-family: "Mona Sans";
  src: url("fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
  /* Color Palette */
  --black: #171321;
  --green: #5aab87;
  --purple: #8f6ebd;
  --white: #f7f8fa;
  /* Typography */
  --sans: "Mona Sans", sans-serif;
  --mono: "Ubuntu Mono", monospace;
  --font-size: 1.1rem;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--sans);
  font-size: var(--font-size);
  height: 100%;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

small {
  font-size: 70%;
}
