@import "./base.css";

/* Page */
.page {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: min-content auto min-content;
  padding: 1rem 2rem;
}

/* Header Section */
.header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  grid-area: header;
  justify-content: center;
  justify-self: center;
  max-width: 1024px;
  padding: 1rem 0;
  width: 100%;
}

/* Title */
.title {
  font-family: var(--mono);
  text-align: center;
  flex-basis: 100%;
}

.title a {
  color: inherit;
  text-decoration: none;
}

.title span {
  line-height: normal;
}

/* Navigation */
.nav {
  padding: 1rem 0;
}

.nav ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.nav a {
  color: inherit;
  padding: 0.1rem;
  text-decoration: none;
}

.nav a:hover {
  border-bottom: 1px solid var(--purple);
  color: var(--purple);
}

/* Main Section */
.main {
  grid-area: main;
  margin: 0 auto;
  padding: 2rem 0;
}

.content {
  max-width: 630px;
}

.my-name {
  color: var(--green);
  display: block;
  font-family: var(--mono);
  font-size: 2.5em;
  line-height: 1em;
}

.main h2 {
  padding: 1rem 0;
  font-weight: 500;
}

/* Footer Section */
.footer {
  grid-area: footer;
  text-align: center;
}

/* Responsive Queries */
@media (min-width: 600px) {
  /* Responsive Home Page */
  .home .main {
    font-size: 1.6rem;
  }

  /* Responsive Header Section */
  .title {
    flex-basis: auto;
    margin-right: auto;
  }
}
