@import "./base.css";

/* Page */
.page {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: min-content auto min-content;
  padding: 1rem 2rem;
}

/* Header Section */
.header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  grid-area: header;
  justify-content: center;
  justify-self: center;
  max-width: 1024px;
  padding: 1rem 0;
  width: 100%;
}

/* Header Title */
.header .title {
  font-family: var(--mono);
  text-align: center;
  flex-basis: 100%;
}

.header .title a {
  color: inherit;
  text-decoration: none;
}

.header .title span {
  font-weight: normal;
  line-height: normal;
}

/* Navigation */
.nav {
  padding: 1rem 0;
}

.nav ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.nav a {
  color: inherit;
  padding: 0.1rem;
  text-decoration: none;
}

.nav a:hover {
  border-bottom: 1px solid var(--purple);
  color: var(--purple);
}

/* Main Section */
.main {
  grid-area: main;
  margin: 0 auto;
  padding: 2rem 0;
}

/* Content Wrapper */
.content {
  max-width: 630px;
}

/* Footer Section */
.footer {
  grid-area: footer;
  text-align: center;
  font-size: 60%;
}

.footer a {
  color: var(--purple);
}

/* Home Page */
.home .content {
  margin-bottom: 1rem;
}

.home .content p:first-of-type {
  margin-top: 0;
}

.home .content .my-name {
  color: var(--green);
  display: block;
  font-family: var(--mono);
  font-size: 2.5em;
  line-height: 1em;
}

.home .content h2 {
  padding: 1rem 0;
  font-weight: 500;
}

/* About Page */
.about .main a {
  color: var(--green);
}

.about .contact ul {
  padding-inline-start: 1rem;
  font-size: 80%;
}

.about .contact a {
  color: var(--purple);
}

/* Legal Page */
.legal .content h2 {
  margin-bottom: 1rem;
}

.legal .footer p:last-of-type {
  display: none;
}

/* Responsive Queries
  ================================================== */

@media (min-width: 375px) {
  /* Responsive About Page */
  .about .contact ul {
    padding-inline-start: 2rem;
    font-size: 100%;
  }
}

@media (min-width: 600px) {
  /* Responsive Header Title */
  .header .title {
    flex-basis: auto;
    margin-right: auto;
  }

  /* Responsive Home Page */
  .home .content {
    font-size: 1.6rem;
  }
}
